<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src="/jsquiz.js"></script>
</head>
<body>
<div class="radios" th:each="q,qStat : ${questions}">
	<div th:text="${q.type}"></div>
	<div th:text="${q.question}"></div>
	<div th:text="${q.Point}"></div>
	<div class="radios" th:each="a,aStat : ${q.correctAnswer}">
		<label>
			<input th:name="${q.id}" th:type="${q.type}" value="5" />
			<div style="display:inline-block;" th:text="${a}"></div>
		</label>
	</div>
	<div class="radios" th:each="a,aStat : ${q.wrongAnswer}">
		<label>
			<input th:name="${q.id}" th:type="${q.type}" value="0" />
			<div style="display:inline-block;" th:text="${a}"></div>
		</label>
	</div>
</div>
<button onclick="copyText()">SUBMIT</button>
<p>Click SUBMIT to get your score</p>
Score: <input type="text" id="score" /><br/><br/>
</body>
</html>